
.example-after-absolute-inside
  cssowl-after-absolute-inside("*", 5px, 5px, middle, center, 0, -2px)

.example-after-absolute-outside
  cssowl-after-absolute-outside("*", 5px, 5px, middle, right, -5px, -2px)

.example-after-absolute
  cssowl-after-absolute("*", 17px false false 20px)

.example-after-float
  cssowl-after-float("*", 4px 0 0 10px)
