
.example-before-absolute-inside
  cssowl-before-absolute-inside("*", 5px, 5px, middle, center, 0, -2px)

.example-before-absolute-outside
  cssowl-before-absolute-outside("*", 5px, 5px, middle, right, -5px, -2px)

.example-before-absolute
  cssowl-before-absolute("*", 17px false false 20px)

.example-before-float
  cssowl-before-float("*", 4px 10px 0 0)
