%h3#cssowl-after-absolute-inside cssowl-after-absolute-inside

%p
  Mixin to add content with the `:after` pseudo selector and position it absolutely *inside* the bounding box.

.bs-example
  .example-after-absolute-inside{style: "width:50px;height:50px;border:1px solid #59371f;"}

%pre
  = preserve do
    :escaped
      .example-after-absolute-inside
        +cssowl-after-absolute-inside("*", 5px, 5px, middle, center, 0, -2px)

%h3#cssowl-after-absolute-outside cssowl-after-absolute-outside

%p
  Mixin to add content with the `:after` pseudo selector and position it absolutely *outside* the bounding box.

.bs-example
  .example-after-absolute-outside{style: "width:50px;height:50px;border:1px solid #59371f;"}

%pre
  = preserve do
    :escaped
      .example-after-absolute-outside
        +cssowl-after-absolute-outside("*", 5px, 5px, middle, right, -5px, -2px)

%h3#cssowl-after-absolute cssowl-after-absolute

%p
  Mixin to add content with the `:after` pseudo selector and position it absolutely.

.bs-example
  .example-after-absolute{style: "width:50px;height:50px;border:1px solid #59371f;"}

%pre
  = preserve do
    :escaped
      .example-after-absolute
        +cssowl-after-absolute("*", 17px false false 20px)

%h3#cssowl-after-float cssowl-after-float

%p
  Mixin to add content with the `:after` pseudo selector and position it with `float: $float`.

.bs-example
  .example-after-float
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.

%pre
  = preserve do
    :escaped
      .example-after-float
        +cssowl-after-float("*", 4px 0 0 10px)

