%h3#cssowl-relative cssowl-relative

%p
  Extendable placeholder and mixin to position an element relatively.

.bs-example
  .wrapper{style: "position:relative;width:50px;height:50px;border:1px solid #59371f;"}
    .example-relative{style: "width:10px;height:10px;background:#59371f;"}

%pre
  = preserve do
    :escaped
      .example-relative
        cssowl-relative(20px false false 20px)

