
$sprite-sheet-image = url("/assets/img/sprite.png")
$sprite-sheet-image-2x = url("/assets/img/sprite@2x.png")

@import "../../../../test/fixtures/styl/sprite"
@import "../../../../lib/styl/cssowl"
@import "../../../../test/examples/styl/cssowl"

