
.example-absolute-inside {
  > .top-center {
    @include cssowl-absolute-inside(10px, 10px, top, center);
  }
  > .middle-right {
    @include cssowl-absolute-inside(10px, 10px, middle, right);
  }
  > .bottom-center {
    @include cssowl-absolute-inside(10px, 10px, bottom, center);
  }
  > .middle-left {
    @include cssowl-absolute-inside(10px, 10px, middle, left);
  }
}

.example-absolute-outside {
  > .top-center {
    @include cssowl-absolute-outside(10px, 10px, top, center);
  }
  > .middle-right {
    @include cssowl-absolute-outside(10px, 10px, middle, right);
  }
  > .bottom-center {
    @include cssowl-absolute-outside(10px, 10px, bottom, center);
  }
  > .middle-left {
    @include cssowl-absolute-outside(10px, 10px, middle, left);
  }
}

.example-absolute {
  @include cssowl-absolute(20px false false 20px);
}
