// Place a sprite element with `position: absolute;` *inside* the bounding box.
cssowl-sprite-absolute-inside($element, $valign=top, $halign=left, $xOffset=0, $yOffset=0)
  cssowl-absolute-inside($element[2], $element[3], $valign, $halign, $xOffset, $yOffset)
  @extend ${$element[4]}
// Place a sprite element with `position: absolute;` *outside* the bounding box.
cssowl-sprite-absolute-outside($element, $valign=top, $halign=left, $xOffset=0, $yOffset=0)
  cssowl-absolute-outside($element[2], $element[3], $valign, $halign, $xOffset, $yOffset)
  @extend ${$element[4]}
// Place a sprite element with `position: absolute;`.
cssowl-sprite-absolute($element, $coordinates=0 false false 0)
  cssowl-absolute($coordinates)
  @extend ${$element[4]}
// Add a sprite element with the `:after` pseudo selector and place it absolutely *inside* the bounding box.
cssowl-sprite-after-absolute-inside($element, $valign=top, $halign=left, $xOffset=0, $yOffset=0)
  cssowl-after-absolute-inside("", $element[2], $element[3], $valign, $halign, $xOffset, $yOffset)
  &:after
    @extend ${$element[4]}
// Add a sprite element with the `:after` pseudo selector and place it absolutely *outside* the bounding box.
cssowl-sprite-after-absolute-outside($element, $valign=top, $halign=left, $xOffset=0, $yOffset=0, $float=left)
  cssowl-after-absolute-outside("", $element[2], $element[3], $valign, $halign, $xOffset, $yOffset)
  &:after
    @extend ${$element[4]}
// Add a sprite element with the `:after` pseudo selector and place it absolutely.
cssowl-sprite-after-absolute($element, $coordinates=0 false false 0)
  cssowl-after-absolute("", $coordinates)
  &:after
    @extend ${$element[4]}
// Add a sprite element with the `:after` pseudo selector and place it with the `float` attribute.
cssowl-sprite-after-float($element, $margin=0 0 0 0, $float=right)
  cssowl-after-float("", $margin, $float)
  &:after
    @extend ${$element[4]}
// Add a sprite element with the `:after` pseudo selector.
cssowl-sprite-after($element, $margin=0 0 0 0, $display=inline-block)
  &:after
    content ""
    margin $margin
    display $display
    @extend ${$element[4]}
// Add a sprite element with the `:before` pseudo selector and place it absolutely *inside* the bounding box.
cssowl-sprite-before-absolute-inside($element, $valign=top, $halign=left, $xOffset=0, $yOffset=0)
  cssowl-before-absolute-inside("", $element[2], $element[3], $valign, $halign, $xOffset, $yOffset)
  &:before
    @extend ${$element[4]}
// Add a sprite element with the `:before` pseudo selector and place it absolutely *outside* the bounding box.
cssowl-sprite-before-absolute-outside($element, $valign=top, $halign=left, $xOffset=0, $yOffset=0, $float=left)
  cssowl-before-absolute-outside("", $element[2], $element[3], $valign, $halign, $xOffset, $yOffset)
  &:before
    @extend ${$element[4]}
// Add a sprite element with the `:before` pseudo selector and place it absolutely.
cssowl-sprite-before-absolute($element, $coordinates=0 false false 0)
  cssowl-before-absolute("", $coordinates)
  &:before
    @extend ${$element[4]}
// Add a sprite element with the `:before` pseudo selector and place it with the `float` attribute.
cssowl-sprite-before-float($element, $margin=0 0 0 0, $float=left)
  cssowl-before-float("", $margin, $float)
  &:before
    @extend ${$element[4]}
// Add a sprite element with the `:before` pseudo selector.
cssowl-sprite-before($element, $margin=0 0 0 0, $display=inline-block)
  &:before
    content ""
    margin $margin
    display $display
    @extend ${$element[4]}
// Add a sprite element with its `width`, `height`, `background-image` and `background-position`.
cssowl-sprite-display($element, $display=inline-block)
  display $display
  @extend ${$element[4]}
// Add a sprite element and hide the element's content.
cssowl-sprite-replace($element)
  @extend $cssowl-text-hide
  @extend ${$element[4]}
