@import "../../../lib/stylus/cssowl.styl"

.width
  cssowl-sprite-width(1px)
.height
  cssowl-sprite-height(1px)
.size
  cssowl-sprite-size(1px, 2px)
.background
  cssowl-sprite-background(url("path/to/sprite.png"))
.position
  cssowl-sprite-position(1px, 2px)
/* --- display ------------------------------------------------------------------------------------ */
.display
  cssowl-sprite-display(1px, 2px, 3px, 4px, url("path/to/sprite.png"))
.display-block
  cssowl-sprite-display-block(1px, 2px, 3px, 4px, url("path/to/sprite.png"))
.display-inline
  cssowl-sprite-display-inline(1px, 2px, 3px, 4px, url("path/to/sprite.png"))
/* --- replace ------------------------------------------------------------------------------------ */
.replace
  cssowl-sprite-replace(1px, 2px, 3px, 4px, url("path/to/sprite.png"))
.replace-block
  cssowl-sprite-replace-block(1px, 2px, 3px, 4px, url("path/to/sprite.png"))
.replace-inline
  cssowl-sprite-replace-inline(1px, 2px, 3px, 4px, url("path/to/sprite.png"))
/* --- float -------------------------------------------------------------------------------------- */
.float-before
  cssowl-sprite-float-before(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.float-after
  cssowl-sprite-float-after(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
/* --- absolute ----------------------------------------------------------------------------------- */
.absolute-before
  cssowl-sprite-absolute-before(1px, 2px, 3px, 4px, url("path/to/sprite.png"))
.absolute-after
  cssowl-sprite-absolute-after(1px, 2px, 3px, 4px, url("path/to/sprite.png"))
/* --- inside ------------------------------------------------------------------------------------- */
.inside-top-left
  cssowl-sprite-inside-top-left(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.inside-top-center
  cssowl-sprite-inside-top-center(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.inside-top-right
  cssowl-sprite-inside-top-right(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.inside-middle-left
  cssowl-sprite-inside-middle-left(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.inside-middle-center
  cssowl-sprite-inside-middle-center(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.inside-middle-right
  cssowl-sprite-inside-middle-right(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.inside-bottom-left
  cssowl-sprite-inside-bottom-left(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.inside-bottom-center
  cssowl-sprite-inside-bottom-center(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.inside-bottom-right
  cssowl-sprite-inside-bottom-right(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
/* --- outside ------------------------------------------------------------------------------------ */
.outside-top-left
  cssowl-sprite-outside-top-left(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.outside-top-center
  cssowl-sprite-outside-top-center(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.outside-top-right
  cssowl-sprite-outside-top-right(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.outside-middle-left
  cssowl-sprite-outside-middle-left(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.outside-middle-center
  cssowl-sprite-outside-middle-center(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.outside-middle-right
  cssowl-sprite-outside-middle-right(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.outside-bottom-left
  cssowl-sprite-outside-bottom-left(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.outside-bottom-center
  cssowl-sprite-outside-bottom-center(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)
.outside-bottom-right
  cssowl-sprite-outside-bottom-right(1px, 2px, 3px, 4px, url("path/to/sprite.png"), 5px, 6px)