@import '../../lib/styl/cssowl'
.example-absolute-inside
  width: 10px
  height: 10px
  background: #59371f
  &.top-center
    cssowl-position-absolute-inside(10px, 10px, top, center)
  &.middle-right
    cssowl-position-absolute-inside(10px, 10px, middle, right)
  &.bottom-center
    cssowl-position-absolute-inside(10px, 10px, bottom, center)
  &.middle-left
    cssowl-position-absolute-inside(10px, 10px, middle, left)

.example-absolute-outside
  width: 10px
  height: 10px
  background: #59371f
  &.top-center
    cssowl-position-absolute-outside(10px, 10px, top, center)
  &.middle-right
    cssowl-position-absolute-outside(10px, 10px, middle, right)
  &.bottom-center
    cssowl-position-absolute-outside(10px, 10px, bottom, center)
  &.middle-left
    cssowl-position-absolute-outside(10px, 10px, middle, left)

.example-absolute
  width: 10px
  height: 10px
  background: #59371f
  &.top-right
    cssowl-position-absolute(5px, 5px, none, none)
  &.bottom-left
    cssowl-position-absolute(none, none, 5px, 5px)

.example-absolute-inside
  &.top-center
    cssowl-sprite-absolute-inside(-110px, -20px, 7px, 4px, url("sprite.png"), top, center)
  &.middle-right
    cssowl-sprite-absolute-inside(-110px, -10px, 4px, 7px, url("sprite.png"), middle, right)
  &.bottom-center
    cssowl-sprite-absolute-inside(-120px, -20px, 7px, 4px, url("sprite.png"), bottom, center)
  &.middle-left
    cssowl-sprite-absolute-inside(-120px, -10px, 4px, 7px, url("sprite.png"), middle, left)

.example-absolute-outside
  &.top-center
    cssowl-sprite-absolute-outside(-120px, -20px, 7px, 4px, url("sprite.png"), top, center)
  &.middle-right
    cssowl-sprite-absolute-outside(-120px, -10px, 4px, 7px, url("sprite.png"), middle, right)
  &.bottom-center
    cssowl-sprite-absolute-outside(-110px, -20px, 7px, 4px, url("sprite.png"), bottom, center)
  &.middle-left
    cssowl-sprite-absolute-outside(-110px, -10px, 4px, 7px, url("sprite.png"), middle, left)

.example-absolute
  &.top-right
    cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("sprite.png"), 5px, 5px, none, none)
  &.bottom-left
    cssowl-sprite-absolute(-110px, -30px, 15px, 15px, url("sprite.png"), none, none, 5px, 5px)

.example-after-absolute-inside
  cssowl-sprite-after-absolute-inside(-110px, -20px, 7px, 4px, url("sprite.png"), top, center)

.example-after-absolute-outside
  cssowl-sprite-after-absolute-outside(-110px, -20px, 7px, 4px, url("sprite.png"), top, center)

.example-after-absolute
  cssowl-sprite-after-absolute(-110px, -30px, 15px, 15px, url("sprite.png"), 2px, -20px)

.example-after-float
  cssowl-sprite-after-float(-110px, -30px, 15px, 15px, url("sprite.png"), 5px, 1px)

.example-after-inline
  cssowl-sprite-after-inline(-110px, -30px, 15px, 15px, url("sprite.png"), 5px, 1px, top)

.example-after
  cssowl-sprite-after(-110px, -30px, 15px, 15px, url("sprite.png"))

.example-before-absolute-inside
  cssowl-sprite-before-absolute-inside(-110px, -20px, 7px, 4px, url("sprite.png"), top, center)

.example-before-absolute-outside
  cssowl-sprite-before-absolute-outside(-110px, -20px, 7px, 4px, url("sprite.png"), top, center)

.example-before-absolute
  cssowl-sprite-before-absolute(-110px, -30px, 15px, 15px, url("sprite.png"), 2px, none, none, -20px)

.example-before-float
  cssowl-sprite-before-float(-110px, -30px, 15px, 15px, url("sprite.png"), 5px, 1px)

.example-before-inline
  cssowl-sprite-before-inline(-110px, -30px, 15px, 15px, url("sprite.png"), 5px, 1px, top)

.example-before
  cssowl-sprite-before(-110px, -30px, 15px, 15px, url("sprite.png"))

.example-display-block
  cssowl-sprite-display-block(-10px, -10px, 91px, 95px, url("sprite.png"))

.example-display-inline
  cssowl-sprite-display-inline(-10px, -10px, 91px, 95px, url("sprite.png"))

.example-display
  cssowl-sprite-display(-10px, -10px, 91px, 95px, url("sprite.png"))

.example-float-left
  cssowl-sprite-float-left(-110px, -30px, 15px, 15px, url("sprite.png"), 5px, 11px)

.example-float-right
  cssowl-sprite-float-right(-110px, -30px, 15px, 15px, url("sprite.png"), 5px, 11px)

.example-replace-block
  cssowl-sprite-replace-block(-10px, -10px, 91px, 95px, url("sprite.png"))

.example-replace-inline
  cssowl-sprite-replace-inline(-10px, -10px, 91px, 95px, url("sprite.png"), 0, text-top)

.example-replace
  cssowl-sprite-replace(-10px, -10px, 91px, 95px, url("sprite.png"))
